h1 {
   color: rgb(45, 45, 120);
}
ul{
    color: blue;
    margin: 0;
}
h2{
color: gray;
}
figure {
    background-color: white;
    border: 0px;
    width: 0px;
    height: 0px;
    margin: 0px;
}
 div{
    background-color: white;
    border: 0px;
    width:  0px;
    height: 0px;
    margin: auto; 
}