h1{
    color: blue;
}
#linha-horizontal {
    margin: 0;
    width: 800px;
    border: 1px solid blue;}
ul{
    color: blue;
    margin: 0;
}
h2{
color: gray;
}
h3{
    color: blue;
}
figure {
    background-color: white;
    border: 0px;
    width: 0px;
    height: 0px;
    margin: 0px;
}
 div{
    background-color: white;
    border: 0px;
    width:  0px;
    height: 0px;
    margin: auto; 
}
th{
    color: blue;
}
ul.placa{
    color: gray;
}